USE [master]
GO
/****** Object:  Database [VKR]    Script Date: 16.02.2021 12:30:50 ******/
CREATE DATABASE [VKR] ON  PRIMARY 
( NAME = N'VKR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\VKR.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VKR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\VKR_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VKR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VKR]
GO
/****** Object:  Table [dbo].[AtBats]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtBats](
	[AtBatID] [int] NOT NULL,
	[Match] [int] NOT NULL,
	[Batter] [int] NOT NULL,
	[AtBatResult] [int] NOT NULL,
	[Pitcher] [int] NOT NULL,
	[Outs] [int] NOT NULL,
	[RBI] [int] NOT NULL,
	[Inning] [int] NOT NULL,
 CONSTRAINT [PK_AtBats] PRIMARY KEY CLUSTERED 
(
	[AtBatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](3) NOT NULL,
	[State] [nvarchar](2) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [nvarchar](3) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineupsForMatches]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineupsForMatches](
	[PlayerInMatchLineupID] [int] NOT NULL,
	[Match] [int] NOT NULL,
	[PlayerInTeamID] [int] NOT NULL,
	[NumberInLineup] [int] NOT NULL,
	[PlayerPosition] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_LineupsForMatches] PRIMARY KEY CLUSTERED 
(
	[PlayerInMatchLineupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineUpType]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineUpType](
	[LineupTypeID] [int] NOT NULL,
	[PitcherThrowingHand] [nvarchar](5) NULL,
	[DesignatedHitterRule] [bit] NULL,
	[Description] [nvarchar](10) NULL,
 CONSTRAINT [PK_LineUpType] PRIMARY KEY CLUSTERED 
(
	[LineupTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ManagerID] [int] NOT NULL,
	[ManagerFirstName] [nvarchar](30) NOT NULL,
	[ManagerSecondName] [nvarchar](30) NOT NULL,
	[ManagerPlaceOfBirth] [int] NOT NULL,
	[ManagerDateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] NOT NULL,
	[AwayTeam] [nvarchar](3) NOT NULL,
	[HomeTeam] [nvarchar](3) NOT NULL,
	[Stadium] [int] NOT NULL,
	[DHRule] [bit] NOT NULL,
	[MatchEnded] [bit] NOT NULL,
	[AwayTeamWins] [bit] NOT NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PitcherResults]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitcherResults](
	[PitcherResultID] [int] NOT NULL,
	[Pitcher] [int] NOT NULL,
	[MatchResultForPitcher] [int] NOT NULL,
	[Match] [int] NOT NULL,
 CONSTRAINT [PK_PitcherResults] PRIMARY KEY CLUSTERED 
(
	[PitcherResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerPosition]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerPosition](
	[PositionCode] [nvarchar](2) NOT NULL,
	[PositionFullTitle] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PlayerPosition] PRIMARY KEY CLUSTERED 
(
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] NOT NULL,
	[PlayerFirstName] [nvarchar](35) NOT NULL,
	[PlayerSecondName] [nvarchar](35) NOT NULL,
	[PlayerNumber] [int] NOT NULL,
	[PlayerPlaceOfBirth] [int] NOT NULL,
	[PlayerDateOfBirth] [date] NOT NULL,
	[PlayerPitchingHand] [nvarchar](5) NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayersInTeams]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayersInTeams](
	[PlayerInTeamID] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
	[TeamID] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_PlayersInTeams] PRIMARY KEY CLUSTERED 
(
	[PlayerInTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayersPositions]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayersPositions](
	[PlayerID] [int] NOT NULL,
	[PlayerPositionID] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_PlayersPositions] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[PlayerPositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stadiums]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadiums](
	[StadiumID] [int] NOT NULL,
	[StadiumTitle] [nvarchar](75) NOT NULL,
	[StadiumCapacity] [int] NOT NULL,
	[StadiumLocation] [int] NULL,
	[StadiumDistanceToCenterField] [int] NOT NULL,
 CONSTRAINT [PK_Stadiums] PRIMARY KEY CLUSTERED 
(
	[StadiumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StartingLineups]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StartingLineups](
	[PlayerInTeamID] [int] NOT NULL,
	[LineupType] [int] NOT NULL,
	[PlayerPositionInLineup] [int] NOT NULL,
	[PlayerPosition] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_PlayersInLineups] PRIMARY KEY CLUSTERED 
(
	[LineupType] ASC,
	[PlayerInTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Abbreviation] [nvarchar](2) NOT NULL,
	[FullStateName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Abbreviation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamColors]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamColors](
	[Team] [nvarchar](3) NOT NULL,
	[ColorNumber] [int] NOT NULL,
	[RedComponent] [int] NOT NULL,
	[GreenComponent] [int] NOT NULL,
	[BlueComponent] [int] NOT NULL,
 CONSTRAINT [PK_TeamColors] PRIMARY KEY CLUSTERED 
(
	[Team] ASC,
	[ColorNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamAbbreviation] [nvarchar](3) NOT NULL,
	[TeamCity] [nvarchar](50) NOT NULL,
	[TeamName] [nvarchar](35) NOT NULL,
	[TeamLeague] [nvarchar](2) NOT NULL,
	[TeamStadium] [int] NOT NULL,
	[StrikeZoneProbability] [int] NOT NULL,
	[SwingInStrikeZoneProbability] [int] NOT NULL,
	[SwingOutsideStrikeZoneProbability] [int] NOT NULL,
	[HittingProbability] [int] NOT NULL,
	[FoulProbability] [int] NOT NULL,
	[SingleProbability] [int] NOT NULL,
	[DoubleProbability] [int] NOT NULL,
	[HomeRunProbability] [int] NOT NULL,
	[PopoutOnFoulProbability] [int] NOT NULL,
	[FlyoutOnHomerunProbability] [int] NOT NULL,
	[GroundoutProbability] [int] NOT NULL,
	[FlyoutProbability] [int] NOT NULL,
	[SacrificeFlyProbability] [int] NOT NULL,
	[DoublePlayProbability] [int] NOT NULL,
	[StealingBaseSuccessfulAttemptProbability] [int] NOT NULL,
	[SuccessfulBuntAttemptProbability] [int] NOT NULL,
	[DefensiveRating] [int] NOT NULL,
	[TeamManager] [int] NOT NULL,
 CONSTRAINT [PK_Teams_1] PRIMARY KEY CLUSTERED 
(
	[TeamAbbreviation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesOfAtBatResults]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfAtBatResults](
	[AtBatTypeID] [int] NOT NULL,
	[AtBatTypeTitle] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_TypesOfAtBatResults] PRIMARY KEY CLUSTERED 
(
	[AtBatTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesOfMatchResultsForPitchers]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesOfMatchResultsForPitchers](
	[MatchResultForPitcherID] [int] NOT NULL,
	[MatchResultForPitcherTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypesOfMatchResultsForPitchers] PRIMARY KEY CLUSTERED 
(
	[MatchResultForPitcherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[UserLogin] [nvarchar](25) NOT NULL,
	[UserPassword] [nvarchar](15) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[UserTeam] [nvarchar](3) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cities] ([CityID], [CityName], [Country], [State]) VALUES (1, N'West Hazleton', N'USA', N'PA')
INSERT [dbo].[Cities] ([CityID], [CityName], [Country], [State]) VALUES (2, N'Riverside', N'USA', N'CA')
INSERT [dbo].[Cities] ([CityID], [CityName], [Country], [State]) VALUES (3, N'Palo Alto', N'USA', N'CA')
GO
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'AFG', N'Afghanistan')
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'ALB', N'Albania')
INSERT [dbo].[Countries] ([CountryCode], [CountryName]) VALUES (N'ALG', N'Algeria')
GO
INSERT [dbo].[LineUpType] ([LineupTypeID], [PitcherThrowingHand], [DesignatedHitterRule], [Description]) VALUES (1, N'Right', 1, NULL)
INSERT [dbo].[LineUpType] ([LineupTypeID], [PitcherThrowingHand], [DesignatedHitterRule], [Description]) VALUES (2, N'Right', 0, NULL)
INSERT [dbo].[LineUpType] ([LineupTypeID], [PitcherThrowingHand], [DesignatedHitterRule], [Description]) VALUES (3, N'Left', 1, NULL)
GO
INSERT [dbo].[Managers] ([ManagerID], [ManagerFirstName], [ManagerSecondName], [ManagerPlaceOfBirth], [ManagerDateOfBirth]) VALUES (1, N'Joe', N'Maddon', 1, CAST(N'1954-02-08' AS Date))
INSERT [dbo].[Managers] ([ManagerID], [ManagerFirstName], [ManagerSecondName], [ManagerPlaceOfBirth], [ManagerDateOfBirth]) VALUES (2, N'Dusty', N'Baker', 2, CAST(N'1949-06-15' AS Date))
INSERT [dbo].[Managers] ([ManagerID], [ManagerFirstName], [ManagerSecondName], [ManagerPlaceOfBirth], [ManagerDateOfBirth]) VALUES (3, N'Bob', N'Melvin', 3, CAST(N'1961-10-28' AS Date))
GO
INSERT [dbo].[PlayerPosition] ([PositionCode], [PositionFullTitle]) VALUES (N'1B', N'First baseman')
INSERT [dbo].[PlayerPosition] ([PositionCode], [PositionFullTitle]) VALUES (N'2B', N'Second baseman')
INSERT [dbo].[PlayerPosition] ([PositionCode], [PositionFullTitle]) VALUES (N'3B', N'Third baseman')
GO
INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerPitchingHand]) VALUES (1, N'David', N'Fletcher', 22, 84, CAST(N'1994-05-31' AS Date), NULL)
INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerPitchingHand]) VALUES (2, N'Jared', N'Walsh', 25, 85, CAST(N'1993-07-30' AS Date), NULL)
INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerPitchingHand]) VALUES (3, N'Mike', N'Trout', 27, 86, CAST(N'1991-07-08' AS Date), NULL)
GO
INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID]) VALUES (1, 1, N'LAA')
INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID]) VALUES (2, 2, N'LAA')
INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID]) VALUES (3, 3, N'LAA')
GO
INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'2B')
INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'3B')
INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'RF')
GO
INSERT [dbo].[Stadiums] ([StadiumID], [StadiumTitle], [StadiumCapacity], [StadiumLocation], [StadiumDistanceToCenterField]) VALUES (1, N'American Family Field', 41900, 30, 400)
INSERT [dbo].[Stadiums] ([StadiumID], [StadiumTitle], [StadiumCapacity], [StadiumLocation], [StadiumDistanceToCenterField]) VALUES (2, N'Angel Stadium', 45517, 31, 396)
INSERT [dbo].[Stadiums] ([StadiumID], [StadiumTitle], [StadiumCapacity], [StadiumLocation], [StadiumDistanceToCenterField]) VALUES (3, N'Busch Stadium', 45494, 32, 400)
GO
INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (1, 1, 1, N'2B')
INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (2, 1, 2, N'1B')
INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (3, 1, 3, N'CF')
GO
INSERT [dbo].[States] ([Abbreviation], [FullStateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([Abbreviation], [FullStateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([Abbreviation], [FullStateName]) VALUES (N'AR', N'Arkansas')
GO
INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 1, 167, 25, 48)
INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 2, 227, 212, 173)
INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 3, 39, 37, 31)
GO
INSERT [dbo].[TypesOfAtBatResults] ([AtBatTypeID], [AtBatTypeTitle]) VALUES (1, N'Strikeout')
INSERT [dbo].[TypesOfAtBatResults] ([AtBatTypeID], [AtBatTypeTitle]) VALUES (2, N'Walk')
INSERT [dbo].[TypesOfAtBatResults] ([AtBatTypeID], [AtBatTypeTitle]) VALUES (3, N'Hit-By-Pitch')
GO
INSERT [dbo].[TypesOfMatchResultsForPitchers] ([MatchResultForPitcherID], [MatchResultForPitcherTitle]) VALUES (1, N'Win')
INSERT [dbo].[TypesOfMatchResultsForPitchers] ([MatchResultForPitcherID], [MatchResultForPitcherTitle]) VALUES (2, N'Lose')
INSERT [dbo].[TypesOfMatchResultsForPitchers] ([MatchResultForPitcherID], [MatchResultForPitcherTitle]) VALUES (3, N'Save')
GO
ALTER TABLE [dbo].[AtBats]  WITH CHECK ADD  CONSTRAINT [FK_AtBats_Matches] FOREIGN KEY([Match])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[AtBats] CHECK CONSTRAINT [FK_AtBats_Matches]
GO
ALTER TABLE [dbo].[AtBats]  WITH CHECK ADD  CONSTRAINT [FK_AtBats_PlayersInTeams] FOREIGN KEY([Batter])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])
GO
ALTER TABLE [dbo].[AtBats] CHECK CONSTRAINT [FK_AtBats_PlayersInTeams]
GO
ALTER TABLE [dbo].[AtBats]  WITH CHECK ADD  CONSTRAINT [FK_AtBats_PlayersInTeams1] FOREIGN KEY([Pitcher])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])
GO
ALTER TABLE [dbo].[AtBats] CHECK CONSTRAINT [FK_AtBats_PlayersInTeams1]
GO
ALTER TABLE [dbo].[AtBats]  WITH CHECK ADD  CONSTRAINT [FK_AtBats_TypesOfAtBatResults] FOREIGN KEY([AtBatResult])
REFERENCES [dbo].[TypesOfAtBatResults] ([AtBatTypeID])
GO
ALTER TABLE [dbo].[AtBats] CHECK CONSTRAINT [FK_AtBats_TypesOfAtBatResults]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries1] FOREIGN KEY([Country])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries1]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_States1] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([Abbreviation])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_States1]
GO
ALTER TABLE [dbo].[LineupsForMatches]  WITH CHECK ADD  CONSTRAINT [FK_LineupsForMatches_Matches] FOREIGN KEY([Match])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[LineupsForMatches] CHECK CONSTRAINT [FK_LineupsForMatches_Matches]
GO
ALTER TABLE [dbo].[LineupsForMatches]  WITH CHECK ADD  CONSTRAINT [FK_LineupsForMatches_PlayerPosition] FOREIGN KEY([PlayerPosition])
REFERENCES [dbo].[PlayerPosition] ([PositionCode])
GO
ALTER TABLE [dbo].[LineupsForMatches] CHECK CONSTRAINT [FK_LineupsForMatches_PlayerPosition]
GO
ALTER TABLE [dbo].[LineupsForMatches]  WITH CHECK ADD  CONSTRAINT [FK_LineupsForMatches_PlayersInTeams] FOREIGN KEY([PlayerInTeamID])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])
GO
ALTER TABLE [dbo].[LineupsForMatches] CHECK CONSTRAINT [FK_LineupsForMatches_PlayersInTeams]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_Cities] FOREIGN KEY([ManagerPlaceOfBirth])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_Cities]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Stadiums] FOREIGN KEY([Stadium])
REFERENCES [dbo].[Stadiums] ([StadiumID])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Stadiums]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams] FOREIGN KEY([AwayTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams1] FOREIGN KEY([HomeTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams1]
GO
ALTER TABLE [dbo].[PitcherResults]  WITH CHECK ADD  CONSTRAINT [FK_PitcherResults_Matches] FOREIGN KEY([Match])
REFERENCES [dbo].[Matches] ([MatchID])
GO
ALTER TABLE [dbo].[PitcherResults] CHECK CONSTRAINT [FK_PitcherResults_Matches]
GO
ALTER TABLE [dbo].[PitcherResults]  WITH CHECK ADD  CONSTRAINT [FK_PitcherResults_PlayersInTeams] FOREIGN KEY([Pitcher])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])
GO
ALTER TABLE [dbo].[PitcherResults] CHECK CONSTRAINT [FK_PitcherResults_PlayersInTeams]
GO
ALTER TABLE [dbo].[PitcherResults]  WITH CHECK ADD  CONSTRAINT [FK_PitcherResults_TypesOfMatchResultsForPitchers] FOREIGN KEY([MatchResultForPitcher])
REFERENCES [dbo].[TypesOfMatchResultsForPitchers] ([MatchResultForPitcherID])
GO
ALTER TABLE [dbo].[PitcherResults] CHECK CONSTRAINT [FK_PitcherResults_TypesOfMatchResultsForPitchers]
GO
ALTER TABLE [dbo].[PlayersInTeams]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInTeams_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[PlayersInTeams] CHECK CONSTRAINT [FK_PlayersInTeams_Players]
GO
ALTER TABLE [dbo].[PlayersInTeams]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])
GO
ALTER TABLE [dbo].[PlayersInTeams] CHECK CONSTRAINT [FK_PlayersInTeams_Teams]
GO
ALTER TABLE [dbo].[PlayersPositions]  WITH CHECK ADD  CONSTRAINT [FK_PlayersPositions_PlayerPosition] FOREIGN KEY([PlayerPositionID])
REFERENCES [dbo].[PlayerPosition] ([PositionCode])
GO
ALTER TABLE [dbo].[PlayersPositions] CHECK CONSTRAINT [FK_PlayersPositions_PlayerPosition]
GO
ALTER TABLE [dbo].[PlayersPositions]  WITH CHECK ADD  CONSTRAINT [FK_PlayersPositions_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
GO
ALTER TABLE [dbo].[PlayersPositions] CHECK CONSTRAINT [FK_PlayersPositions_Players]
GO
ALTER TABLE [dbo].[Stadiums]  WITH CHECK ADD  CONSTRAINT [FK_Stadiums_Cities] FOREIGN KEY([StadiumLocation])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Stadiums] CHECK CONSTRAINT [FK_Stadiums_Cities]
GO
ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInLineups_LineUpType] FOREIGN KEY([LineupType])
REFERENCES [dbo].[LineUpType] ([LineupTypeID])
GO
ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_PlayersInLineups_LineUpType]
GO
ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInLineups_PlayersInTeams] FOREIGN KEY([PlayerInTeamID])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])
GO
ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_PlayersInLineups_PlayersInTeams]
GO
ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_StartingLineups_PlayerPosition] FOREIGN KEY([PlayerPosition])
REFERENCES [dbo].[PlayerPosition] ([PositionCode])
GO
ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_StartingLineups_PlayerPosition]
GO
ALTER TABLE [dbo].[TeamColors]  WITH CHECK ADD  CONSTRAINT [FK_TeamColors_Teams] FOREIGN KEY([Team])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])
GO
ALTER TABLE [dbo].[TeamColors] CHECK CONSTRAINT [FK_TeamColors_Teams]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Managers] FOREIGN KEY([TeamManager])
REFERENCES [dbo].[Managers] ([ManagerID])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Managers]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Stadiums] FOREIGN KEY([TeamStadium])
REFERENCES [dbo].[Stadiums] ([StadiumID])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Stadiums]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Teams] FOREIGN KEY([UserTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Teams]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStadiums]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllStadiums]
AS
SELECT StadiumID, StadiumTitle, CityName + ', ' + Country As Location, StadiumCapacity, StadiumDistanceToCenterField
FROM Stadiums Inner JOIN Cities ON StadiumLocation = CityID
WHERE State Is NULL
UNION
SELECT StadiumID, StadiumTitle, CityName + ', ' + State As Location, StadiumCapacity, StadiumDistanceToCenterField
FROM Stadiums Inner JOIN Cities ON StadiumLocation = CityID
WHERE State Is NOT NULL
GO
/****** Object:  StoredProcedure [dbo].[GetAllTeams]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTeams]
AS
SELECT TeamAbbreviation, TeamCity, TeamName, TeamStadium, StrikeZoneProbability, SwingInStrikeZoneProbability, 
	   SwingOutsideStrikeZoneProbability, HittingProbability, FoulProbability, SingleProbability, 
	   DoubleProbability, HomeRunProbability, PopoutOnFoulProbability, FlyoutOnHomerunProbability,
	   GroundoutProbability, FlyoutProbability, SacrificeFlyProbability, DoublePlayProbability, 
	   StealingBaseSuccessfulAttemptProbability, SuccessfulBuntAttemptProbability, DefensiveRating
From Teams
Order By TeamName
GO
/****** Object:  StoredProcedure [dbo].[GetColorsForThisTeam]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetColorsForThisTeam]
(
@Team nvarchar(3)
)
AS
SELECT RedComponent, GreenComponent, BlueComponent
FROM TeamColors
WHERE Team = @Team
GO
/****** Object:  StoredProcedure [dbo].[GetListOfPeopleWithBirthdayToday]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetListOfPeopleWithBirthdayToday]
AS

SELECT TeamID, PlayerFirstName + ' ' + PlayerSecondName AS Name, DATEDIFF(YEAR, PlayerDateOfBirth, GETDATE()) As Age
    FROM Players INNER JOIN PlayersInTeams On Players.PlayerID = PlayersInTeams.PlayerID
	WHERE DAY(PlayerDateOfBirth) = DAY(GETDATE()) AND MONTH(PlayerDateOfBirth) = MONTH(GETDATE())
UNION
SELECT TeamAbbreviation, ManagerFirstName + + ' ' + ManagerSecondName, DATEDIFF(YEAR, ManagerDateOfBirth, GETDATE())
    FROM Managers INNER JOIN Teams On TeamManager = ManagerID
	WHERE DAY(ManagerDateOfBirth) = DAY(GETDATE()) AND MONTH(ManagerDateOfBirth) = MONTH(GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[GetStartingPitcherForThisMatch]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStartingPitcherForThisMatch]
(
@Team nvarchar(3)
)
AS
DECLARE @Matches int, @PitcherNumberInLineUp int
SELECT @Matches = COUNT(MatchID) + 1
From Matches
WHERE HomeTeam = @Team OR AwayTeam = @Team

SELECT @PitcherNumberInLineUp = @Matches % 5

IF @PitcherNumberInLineUp = 0
SET @PitcherNumberInLineUp = 5

SELECT Players.PlayerID, PlayerFirstName, PlayerSecondName, PlayerNumber, CityName + ', ' + State As PlayerPlaceOfBirth, PlayerPitchingHand
FROM ((Players INNER JOIN PlayersInTeams ON Players.PlayerID = PlayersInTeams.PlayerID) 
			   INNER JOIN StartingLineups ON StartingLineups.PlayerInTeamID = PlayersInTeams.PlayerInTeamID)
			   INNER JOIN Cities ON CityID = PlayerPlaceOfBirth
WHERE StartingLineups.LineupType = 5 AND PlayerPositionInLineup = @PitcherNumberInLineUp AND PlayersInTeams.TeamID = @Team
GO
/****** Object:  StoredProcedure [dbo].[ReturnThrowingHandForStartingPitcher]    Script Date: 16.02.2021 12:30:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReturnThrowingHandForStartingPitcher]
(
@Player int
)
AS
SELECT PlayerPitchingHand
FROM Players
WHERE PlayerID = @Player
GO
USE [master]
GO
