<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentConnectionString" value="localConnectionString" />
		<add key="CurrentConnectionStringADO" value="localConnectionStringADO" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="localConnectionString" connectionString="Data Source=DESKTOP-I3JNR48\SQLEXPRESS;Initial Catalog=VKR_EF;Integrated Security=True;" />
		<add name="laptopConnectionString" connectionString="Data Source=DESKTOP-PD85S4K;Initial Catalog=VKRnew;Integrated Security=True;" />
	</connectionStrings>
</configuration>