CREATE TABLE [dbo].[Cities]
(
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Cities] ([CityID], [CityName], [Country]) VALUES (1, N'West Hazleton', N'PA')
INSERT [dbo].[Cities] ([CityID], [CityName], [Country]) VALUES (2, N'Riverside', N'CA')
INSERT [dbo].[Cities] ([CityID], [CityName], [Country]) VALUES (3, N'Palo Alto', N'CA')
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries1] FOREIGN KEY([Country])
REFERENCES [dbo].[Countries] ([CountryCode])
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries1]