CREATE TABLE [dbo].[Players](
	[PlayerID] [int] NOT NULL,
	[PlayerFirstName] [nvarchar](35) NOT NULL,
	[PlayerSecondName] [nvarchar](35) NOT NULL,
	[PlayerNumber] [int] NOT NULL,
	[PlayerPlaceOfBirth] [int] NOT NULL,
	[PlayerDateOfBirth] [date] NOT NULL,
	[PlayerBattingHand] [nvarchar](6) NULL,
	[PlayerPitchingHand] [nvarchar](5) NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerBattingHand], [PlayerPitchingHand]) VALUES (1, N'David', N'Fletcher', 22, 84, CAST(N'1994-05-31' AS Date), N'Right', N'Right')
INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerBattingHand], [PlayerPitchingHand]) VALUES (2, N'Jared', N'Walsh', 25, 85, CAST(N'1993-07-30' AS Date), N'Left', N'Left')
INSERT [dbo].[Players] ([PlayerID], [PlayerFirstName], [PlayerSecondName], [PlayerNumber], [PlayerPlaceOfBirth], [PlayerDateOfBirth], [PlayerBattingHand], [PlayerPitchingHand]) VALUES (3, N'Mike', N'Trout', 27, 86, CAST(N'1991-07-08' AS Date), N'Right', N'Right')

ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Cities] FOREIGN KEY([PlayerPlaceOfBirth])
REFERENCES [dbo].[Cities] ([CityID])

ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Cities]

