CREATE TABLE [dbo].[Teams](
	[TeamAbbreviation] [nvarchar](3) NOT NULL,
	[TeamCity] [nvarchar](50) NOT NULL,
	[TeamName] [nvarchar](35) NOT NULL,
	[TeamStadium] [int] NOT NULL,
	[StrikeZoneProbability] [int] NOT NULL,
	[SwingInStrikeZoneProbability] [int] NOT NULL,
	[SwingOutsideStrikeZoneProbability] [int] NOT NULL,
	[HittingProbability] [int] NOT NULL,
	[FoulProbability] [int] NOT NULL,
	[SingleProbability] [int] NOT NULL,
	[DoubleProbability] [int] NOT NULL,
	[HomeRunProbability] [int] NOT NULL,
	[PopoutOnFoulProbability] [int] NOT NULL,
	[FlyoutOnHomerunProbability] [int] NOT NULL,
	[GroundoutProbability] [int] NOT NULL,
	[FlyoutProbability] [int] NOT NULL,
	[SacrificeFlyProbability] [int] NOT NULL,
	[DoublePlayProbability] [int] NOT NULL,
	[StealingBaseSuccessfulAttemptProbability] [int] NOT NULL,
	[SuccessfulBuntAttemptProbability] [int] NOT NULL,
	[TeamManager] [int] NOT NULL,
	[TeamDivision] [int] NOT NULL,
	[HitByPitchProbability] [int] NULL,
 CONSTRAINT [PK_Teams_1] PRIMARY KEY CLUSTERED 
(
	[TeamAbbreviation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Divisions] FOREIGN KEY([TeamDivision])
REFERENCES [dbo].[Divisions] ([DivisionNumber])

ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Divisions]

ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Managers] FOREIGN KEY([TeamManager])
REFERENCES [dbo].[Managers] ([ManagerID])

ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Managers]

ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Stadiums] FOREIGN KEY([TeamStadium])
REFERENCES [dbo].[Stadiums] ([StadiumID])

ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Stadiums]

