CREATE TABLE [dbo].[PlayersPositions](
	[PlayerID] [int] NOT NULL,
	[PlayerPositionID] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_PlayersPositions] PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC,
	[PlayerPositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'2B')
INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'RF')
INSERT [dbo].[PlayersPositions] ([PlayerID], [PlayerPositionID]) VALUES (1, N'SS')

ALTER TABLE [dbo].[PlayersPositions]  WITH CHECK ADD  CONSTRAINT [FK_PlayersPositions_PlayerPosition] FOREIGN KEY([PlayerPositionID])
REFERENCES [dbo].[PlayerPosition] ([PositionCode])

ALTER TABLE [dbo].[PlayersPositions] CHECK CONSTRAINT [FK_PlayersPositions_PlayerPosition]

ALTER TABLE [dbo].[PlayersPositions]  WITH CHECK ADD  CONSTRAINT [FK_PlayersPositions_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])

ALTER TABLE [dbo].[PlayersPositions] CHECK CONSTRAINT [FK_PlayersPositions_Players]

