CREATE TABLE [dbo].[NextMatches](
	[MatchID] [int] NOT NULL,
	[AwayTeam] [nvarchar](3) NOT NULL,
	[HomeTeam] [nvarchar](3) NOT NULL,
	[MatchDate] [date] NOT NULL,
	[IsPlayed] [bit] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[NextMatches] ([MatchID], [AwayTeam], [HomeTeam], [MatchDate], [IsPlayed]) VALUES (1, N'TOR', N'NYY', CAST(N'2021-04-01' AS Date), 1)
INSERT [dbo].[NextMatches] ([MatchID], [AwayTeam], [HomeTeam], [MatchDate], [IsPlayed]) VALUES (2, N'CLE', N'DET', CAST(N'2021-04-01' AS Date), 1)
INSERT [dbo].[NextMatches] ([MatchID], [AwayTeam], [HomeTeam], [MatchDate], [IsPlayed]) VALUES (3, N'BAL', N'BOS', CAST(N'2021-04-01' AS Date), 1)

ALTER TABLE [dbo].[NextMatches]  WITH CHECK ADD  CONSTRAINT [FK_NextMatches_Teams] FOREIGN KEY([AwayTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[NextMatches] CHECK CONSTRAINT [FK_NextMatches_Teams]

ALTER TABLE [dbo].[NextMatches]  WITH CHECK ADD  CONSTRAINT [FK_NextMatches_Teams1] FOREIGN KEY([HomeTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[NextMatches] CHECK CONSTRAINT [FK_NextMatches_Teams1]

