CREATE TABLE [dbo].[TeamColors](
	[Team] [nvarchar](3) NOT NULL,
	[ColorNumber] [int] NOT NULL,
	[RedComponent] [int] NOT NULL,
	[GreenComponent] [int] NOT NULL,
	[BlueComponent] [int] NOT NULL,
 CONSTRAINT [PK_TeamColors] PRIMARY KEY CLUSTERED 
(
	[Team] ASC,
	[ColorNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 1, 158, 39, 35)
INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 2, 241, 231, 197)
INSERT [dbo].[TeamColors] ([Team], [ColorNumber], [RedComponent], [GreenComponent], [BlueComponent]) VALUES (N'ARI', 3, 25, 24, 24)

ALTER TABLE [dbo].[TeamColors]  WITH CHECK ADD  CONSTRAINT [FK_TeamColors_Teams] FOREIGN KEY([Team])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[TeamColors] CHECK CONSTRAINT [FK_TeamColors_Teams]

