CREATE TABLE [dbo].[Matches](
	[MatchID] [int] NOT NULL,
	[AwayTeam] [nvarchar](3) NULL,
	[HomeTeam] [nvarchar](3) NULL,
	[Stadium] [int] NULL,
	[DHRule] [bit] NULL,
	[MatchEnded] [bit] NOT NULL,
	[MatchDate] [date] NULL,
	[IsQuickMatch] [bit] NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[Matches] ([MatchID], [AwayTeam], [HomeTeam], [Stadium], [DHRule], [MatchEnded], [MatchDate], [IsQuickMatch]) VALUES (1, N'TOR', N'NYY', 30, 1, 1, CAST(N'2021-04-01' AS Date), 0)
INSERT [dbo].[Matches] ([MatchID], [AwayTeam], [HomeTeam], [Stadium], [DHRule], [MatchEnded], [MatchDate], [IsQuickMatch]) VALUES (2, N'CLE', N'DET', 7, 1, 1, CAST(N'2021-04-01' AS Date), 0)
INSERT [dbo].[Matches] ([MatchID], [AwayTeam], [HomeTeam], [Stadium], [DHRule], [MatchEnded], [MatchDate], [IsQuickMatch]) VALUES (3, N'BAL', N'BOS', 10, 1, 1, CAST(N'2021-04-01' AS Date), 0)

ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Stadiums] FOREIGN KEY([Stadium])
REFERENCES [dbo].[Stadiums] ([StadiumID])

ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Stadiums]

ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams] FOREIGN KEY([AwayTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams]

ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams1] FOREIGN KEY([HomeTeam])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams1]

