CREATE TABLE [dbo].[PlayersInTeams](
	[PlayerInTeamID] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
	[TeamID] [nvarchar](3) NOT NULL,
	[InActiveRoster] [bit] NULL,
	[InCurrentTeam] [bit] NULL,
 CONSTRAINT [PK_PlayersInTeams] PRIMARY KEY CLUSTERED 
(
	[PlayerInTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID], [InActiveRoster], [InCurrentTeam]) VALUES (1, 1, N'LAA', 1, 1)
INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID], [InActiveRoster], [InCurrentTeam]) VALUES (2, 2, N'LAA', 1, 1)
INSERT [dbo].[PlayersInTeams] ([PlayerInTeamID], [PlayerID], [TeamID], [InActiveRoster], [InCurrentTeam]) VALUES (3, 3, N'LAA', 0, 1)

ALTER TABLE [dbo].[PlayersInTeams]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInTeams_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])

ALTER TABLE [dbo].[PlayersInTeams] CHECK CONSTRAINT [FK_PlayersInTeams_Players]

ALTER TABLE [dbo].[PlayersInTeams]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInTeams_Teams] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamAbbreviation])

ALTER TABLE [dbo].[PlayersInTeams] CHECK CONSTRAINT [FK_PlayersInTeams_Teams]

