CREATE TABLE [dbo].[PitcherResults](
	[Pitcher] [int] NOT NULL,
	[Match] [int] NOT NULL,
	[QualityStart] [bit] NULL,
	[CompleteGame] [bit] NULL,
	[Shutout] [bit] NULL,
	[Win] [bit] NULL,
	[Loss] [bit] NULL,
	[Save] [bit] NULL,
	[Hold] [bit] NULL,
 CONSTRAINT [PK_PitcherResults] PRIMARY KEY CLUSTERED 
(
	[Pitcher] ASC,
	[Match] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[PitcherResults] ([Pitcher], [Match], [QualityStart], [CompleteGame], [Shutout], [Win], [Loss], [Save], [Hold]) VALUES (5, 1388, 0, 0, 0, 1, 0, NULL, NULL)
INSERT [dbo].[PitcherResults] ([Pitcher], [Match], [QualityStart], [CompleteGame], [Shutout], [Win], [Loss], [Save], [Hold]) VALUES (14, 13, 0, 1, 0, 0, 1, 0, 0)
INSERT [dbo].[PitcherResults] ([Pitcher], [Match], [QualityStart], [CompleteGame], [Shutout], [Win], [Loss], [Save], [Hold]) VALUES (14, 66, 0, 1, 0, 0, 1, 0, 0)


ALTER TABLE [dbo].[PitcherResults]  WITH CHECK ADD  CONSTRAINT [FK_PitcherResults_Matches] FOREIGN KEY([Match])
REFERENCES [dbo].[Matches] ([MatchID])
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE [dbo].[PitcherResults] CHECK CONSTRAINT [FK_PitcherResults_Matches]

ALTER TABLE [dbo].[PitcherResults]  WITH CHECK ADD  CONSTRAINT [FK_PitcherResults_PlayersInTeams] FOREIGN KEY([Pitcher])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])

ALTER TABLE [dbo].[PitcherResults] CHECK CONSTRAINT [FK_PitcherResults_PlayersInTeams]

