CREATE TABLE [dbo].[StartingLineups](
	[PlayerInTeamID] [int] NOT NULL,
	[LineupType] [int] NOT NULL,
	[PlayerPositionInLineup] [int] NOT NULL,
	[PlayerPosition] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_PlayersInLineups] PRIMARY KEY CLUSTERED 
(
	[LineupType] ASC,
	[PlayerInTeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (1, 1, 9, N'SS')
INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (2, 1, 4, N'1B')
INSERT [dbo].[StartingLineups] ([PlayerInTeamID], [LineupType], [PlayerPositionInLineup], [PlayerPosition]) VALUES (4, 1, 3, N'3B')












ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInLineups_LineUpType] FOREIGN KEY([LineupType])
REFERENCES [dbo].[LineUpType] ([LineupTypeID])

ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_PlayersInLineups_LineUpType]

ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_PlayersInLineups_PlayersInTeams] FOREIGN KEY([PlayerInTeamID])
REFERENCES [dbo].[PlayersInTeams] ([PlayerInTeamID])

ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_PlayersInLineups_PlayersInTeams]

ALTER TABLE [dbo].[StartingLineups]  WITH CHECK ADD  CONSTRAINT [FK_StartingLineups_PlayerPosition] FOREIGN KEY([PlayerPosition])
REFERENCES [dbo].[PlayerPosition] ([PositionCode])

ALTER TABLE [dbo].[StartingLineups] CHECK CONSTRAINT [FK_StartingLineups_PlayerPosition]

